body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(212, 33%, 89%);
}

/* DISPLAY */

#logo {
    margin: auto;
    display: flex;
    justify-content: center;
}

.display-container {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.display {
    color: hsl(205, 86%, 17%);
    padding: 0;
    margin: 20px;

}

/* TABLE */

.table-container {
    margin: auto;
    text-align: center;
}

table {
	font-size: 12px;
	border: 1px solid#ccc; 
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
} 

/* HEADER */
th {    
	background-color: #67727a;
    color: #FFF;	
    font-weight: bold;
    padding: 3px;
    margin: 0px;
    transition: background-color 0.5s;
}

/* ROW and ROW ITEMS */

.checkbox { 
    cursor: pointer;
    transition: all 1s;
}

.stage {
    cursor: pointer;
    text-align: center;
}

.stage:hover {
    background-color: #d75c37;
    transition: background-color 0.3s;
}

td {
    padding: 3px;
	margin: 0px;
    border: 1px solid #CCC;
    transition: background-color 0.5s;
}

.areanumber {
    text-align: center;
}

.stagedate {
    border: 0px;
    background: transparent;
    color: grey;
    width: 120px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/* SUMMARY ROW */
.sum {
    background-color: #c3d7df;
    border: 1px solid #CCC; 
    font-weight: bold;
    transition: background-color 0.5s;
}

/* DONE ROW */
.done {
    background-color: #b7d8d6;
    transition: background-color 0.5s;
}
